1) Write a Python program to get the Python version you are using

In [8]:
import sys
print("Current Python Version:",sys.version)
print("Python Version Info:",sys.version_info)

Current Python Version: 3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]
Python Version Info: sys.version_info(major=3, minor=12, micro=7, releaselevel='final', serial=0)

2) Write a Python program to display the current date and time

In [51]:
from datetime import datetime as dt
current=dt.now()
year = current.strftime('%Y')
print("Current Year:",year)
month = current.strftime("%m")
print("Current Month:",month)
day = current.strftime("%d")
print("Current Date:",day)
time = current.strftime("%H:%M:%S")
print("Current Time:",time)
date = current.strftime("%d-%m-%Y")
print("Today's Date:",date)

Current Year: 2025
Current Month: 04
Current Date: 13
Current Time: 19:55:35
Today's Date: 13-04-2025

3) Write a Python program which accepts the radius of a circle from the user and compute the area.

In [54]:
def circle_area(r):
    print("Radius of Circle:",r)
    area = 3.14*r*r
    print("Area of Circle:",area)
    return
r = eval(input("Enter the radius:"))
circle_area(r)

Enter the radius: 3

Radius of Circle: 3
Area of Circle: 28.259999999999998

4) Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [61]:
a = 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')
# my solution.
ans = 5.2 + 1 + 1 - 4 + 8 + 0 +0 + 5 + 1.0
# now compare both 
print(a)
print(ans)

17.2
17.2

5) Write code to test whether the given number lies between 1 and 10

In [72]:
number = int(input("Enter a number:"))
if 0<number<=10:
    print("Given number lies between 1 and 10")
else:
    print("Given number not lies between 1 and 10")

Enter a number: 32

Given number not lies between 1 and 10

6) sum the numbers from 1 to 20 using for loop

In [75]:
def sum_nums(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum + i 
    return print("Sum of numbers in given range:",sum)
n = 20
sum_nums(n)

Sum of numbers in given range: 210

7) Display the numbers in reverse from 100 to 1

In [78]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

8) Display multiples of 2 from 10 to 50 using range

In [81]:
print("Multiples of 2 are:")
for i in range (10,51):
    if i%2==0:
        print(i)

Multiples of 2 are:
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

9) From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [100]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

10) Use functions to return square of numbers from 2 to 5

In [105]:
def square():
    for i in range(2,6):
        sq = i**2
        print(f"Square of {i}:",sq)
    return
square()

Square of 2: 4
Square of 3: 9
Square of 4: 16
Square of 5: 25

11) Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a 
tuple with those numbers.

In [116]:
numbers = input('Enter comma separated numbers:')
num_list = numbers.split(",")
num_tuple = tuple(numbers.split(','))
print("List of numbers:",num_list)
print("Tuple of numbers:",num_tuple)

Enter comma separated numbers: 10,15,20,28,45,56,70

List of numbers: ['10', '15', '20', '28', '45', '56', '70']
Tuple of numbers: ('10', '15', '20', '28', '45', '56', '70')

12) Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [122]:
color_list = ["Red","Green","White" ,"Black"]
color_list[0::3]

['Red', 'Black']

13) Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [132]:
from datetime import datetime,date
date1 = date(2014,7,2)
date2 = date(2014,7,11)
days = date2 - date1
print("Number of days between two dates:",days.days)

Number of days between two dates: 9

14) Write a Python program to get the difference between a given number and 17,
if the number is greater than 17 return double the absolute difference

In [3]:
num = int(input("Enter the number:"))
if num > 17:
    diff = abs(num - 17)*2
    print("Double absolute difference:",diff)
else:
    diff = abs(num - 17)
    print("Absolute difference:",diff)

Enter the number: 20

Double absolute difference: 6

15) To check whather given element exists in list or not??
list1=[1,2,3,4,5,6,7,8,9,10]
check if 9 and 12 are present in given list or not

In [19]:
def num_check(num):
    list1 = [1,2,3,4,5,6,7,8,9,10]
    
    if num in list1:
        print(f"{num} is present in the list.")
    else:
        print(f"{num} is not present in the list.")
        
    return
num = int(input("Enter the number:"))
num_check(num)

Enter the number: 12

12 is not present in the list.

16) Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
And also it must return both addition and subtraction in a single return call

In [24]:
def calculation(a,b):
    add = a+b
    sub = a-b
    return add,sub
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
addition, subtraction = calculation(a,b)
print("Addition of given numbers:",addition)
print("Subtraction of given numbers:",subtraction)

Enter first number: 34
Enter second number: 20

Addition of given numbers: 54
Subtraction of given numbers: 14

17) Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both,
and if the salary is missing in function call it should show it as 9000

In [35]:
def showEmployee(name,salary=9000):
    print("Employee Name:",name)
    print("Employee Salary:",salary)
    return
name = input("Enter your name:")
salary =input("Enter your salary:")

if salary == "":
    showEmployee(name)
else:
    showEmployee(name,salary)

Enter your name: Piyush
Enter your salary: 120000

Employee Name: Piyush
Employee Salary: 120000

18) Write a recursive function to calculate the sum of numbers from 0 to 10

In [52]:
def sum(n):
    add = 0
    if n == 0:
        return 1 # base case where recursion stops.
    else:
        return n+sum(n-1) # recursive function
    
print("Sum of numbers:",sum(10))

Sum of numbers: 56

19) Generate a Python list of all the even numbers between 4 to 30

In [57]:
list1 = []
for i in range(4,31,2):
    list1.append(i)
list1

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

20) Return the largest item from the given list

In [60]:
# without sorting.
number_list =[10, 25, 58, 78, 45, 32, 20]
max(number_list)

78

In [62]:
# using sorting.
sorted(number_list)[-1]

78